<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <% if (locals.message) { %>
    <div class="alert alert-danger text-center"><%= message %></div>
    <% } %>
    <div class="container">
      <div class="d-flex justify-content-center p-5">
        <div class="col-4 text-center border border-dark rounded p-3 shadow-lg">
          <h2>LOGIN</h2>
          <form method="POST" action="/login">
            <div class="form-group shadow-sm">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                style="text-align: center"
                placeholder="Email"
                value="<%= locals.email ? email : '' %>"
                required
              />
            </div>
            <div class="form-group shadow-sm">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                style="text-align: center"
                required
              />
            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/scripts'); %>
  </body>
</html>
